# ---------------------------------
# build files
# ---------------------------------
/dist


# ---------------------------------
# chache
# ---------------------------------
/coverage
.nyc_output
.eslintcache
/.tmp

# ---------------------------------
# package manager related
# ---------------------------------
/node_modules
npm-debug.log
yarn-error.log

# ---------------------------------
# secrets
# ---------------------------------
/.travis_rsa
